.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: center;
  justify-content: center;

  height: 50px;
  border-radius: 10px;
  border-bottom: 1px solid rgb(16, 24, 40, 0.2);
  margin-bottom: 16px;
}
.navlink {
  font-size: 20px;
  text-decoration: none;
  color: #101828;
  transition: color 0.3s ease;
}
.navlink:hover {
  font-size: 20px;
  text-decoration: none;
  color: rgb(228, 72, 72);
}
