.heroWrapper {
  position: relative;
}

.heroImage {
  width: 100%;
  height: calc(100vh - 72px);
  object-fit: cover;
}

.heroInfo {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);

  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.title {
  font-size: 44px;
  color: #ffffff;
}
.subtitle {
  font-size: 22px;
  letter-spacing: 0.01em;
  line-height: 32px;

  color: #ffffff;
}
.ctaButton {
  width: 166px;
  height: 56px;
  background-color: #e44848;
  color: #ffffff;

  border: none;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.ctaButton:hover {
  background-color: #af2727;
  transform: scale(1.03);
}

.searchBtn {
  width: 166px;
  height: 56px;
  border-radius: 200px;
  border: none;
  color: #ffffff;
  background-color: #e44848;
  cursor: pointer;
}
.link {
  color: white;
}
